/*NAVBAR*/
.navbar-brand.page-scroll p {
    color: black;
    font-size: 1.2em;
    font-family: Montserrat;
    letter-spacing: 7px;
    text-transform: uppercase;
}


.container-fluid {
    background-color: #b2e4e5;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-weight: bold;
    letter-spacing: .5px;
    min-width: 95px;
    letter-spacing: 1.5px;
}