<!DOCTYPE html>
<html>
<head>
    <title>Alexis La Porte: Blog</title>
    {{ partial "meta.html" . }}
    <link rel="stylesheet" type="text/css" href="/css/post-list.css">
    <link rel="stylesheet" type="text/css" href="/css/pagination.css">
</head>
<body>
    {{ partial "navbar.html" . }}

    <main>
        <ul>
        <!-- Ranges through content/blog/*.md -->
        {{ range (.Paginator 5).Pages }}  
        <li class="post">
            <!-- post title -->
            <h3 class="post-title" href="{{.RelPermalink}}">{{ .Title }}</h3>
            <!-- post metadata -->
            <p class="post-meta">
                <time>{{ .Date.Format "January 2, 2006" }}</time>
                | {{.ReadingTime}} min read
                <!-- TODO: Add comment count for post -->
            </p> 
            <!-- post preview -->
            <div class="post-summary">
                {{ .Summary }} <!-- automatically takes the first paragraph in the .md article -->
            </div>
            <!--post link -->
            <p><a href="{{.RelPermalink}}" class="read-more-link">Read more ››</a></p>
        </li>
        {{ end }}

        <!-- pagination links  -->
        {{ partial "pagination.html" . }}
        </ul>
    </main>

    <!-- footer -->
    <footer>{{ partial "footer.html" . }}</footer>
</body>
</html>