    <link rel="stylesheet" type="text/css" href="css/style.css">

    <section id="about">
      <div class="text">
        <h2>Hello! <span class="emoji">👋</span></h2>
        <p>I'm <span class="name">Alexis</span>, a web developer based in
          <span class="emoji">🗽</span><br /><br />Refactoring, exploring
          code bases, & sharing knowledge are my favorite things!</p>
        <p class="reading-links">
          <a href="https://cohost.org/alexislp" target="_blank"
            >Read my writing <span class="emoji">✍🏼</span></a><span class="spacer">&RightArrowLeftArrow;</span> 
          <a href="https://github.com/aklap" target="_blank"
            >Read my code <span class="emoji">💻</span></a
          >
        </p>
      </div>
      <div class="text">
        <div class="intro-links">
          <a href="#contact"><p>I'm currently looking for a new opportunities</p><br>
            <p><span class="emoji left">👉🏼</span> Get in touch! <span class="emoji right">👈🏼</span></p>
          </a> 
        </div>
      </div>
  </section>