<link rel="stylesheet" type="text/css" href="css/style.css">

<!-- CONTACT SECTION -->
<section id="contact">
  <h2 class="section-heading">Contact Me</h2>
  <div class="social-media-links">
    <!-- Email -->
    <a class="social-media-link" href="mailto:aklaporte@gmail.com" title="E-mail">
      <div class="social-media-container">
        <i class="fas fa-envelope fa-2x"></i>
        <span>Email</span>
      </div>
    </a>
    <!-- GitHub -->
    <a class="social-media-link" href="https://github.com/aklap" title="GitHub">
      <div class="social-media-container">
        <i class="fab fa-github fa-2x"></i>
        <span>GitHub</span>
      </div>
    </a>
    <!-- LinkedIn -->
    <a class="social-media-link" href="https://linkedin.com/in/alexislaporte" title="LinkedIn">
      <div class="social-media-container">
        <i class="fab fa-linkedin fa-2x"></i>
        <span>LinkedIn</span>
      </div>
    </a>
    <!-- Mastodon -->
    <a class="social-media-link" href="https://techhub.social/@alexislp" title="Mastodon">
      <div class="social-media-container">
        <i class="fab fa-mastodon fa-2x"></i>
        <span>Mastodon</span>
      </div>
    </a>
  </div>
</section>