<link rel="stylesheet" type="text/css" href="css/style.css">

<!-- PORTFOLIO -->
<section id="portfolio">
  <h2>Portfolio</h2>
  <div class="portfolio-links">
    <div class="portfolio-project">
      <a class="portfolio-link" href="https://github.com/exercism/exercism.io/pulls?utf8=%E2%9C%93&q=is%3Apr%20is%3Amerged%20author%3Aaklap%20">
        <figure>
          <img src="img/portfolio/exercism.png" class="" alt="">
          <figcap>
            <span class="project-title">Exercism</span>
            <span class="project-description">Open source Ruby project</span>
          </figcap>
        </figure>
      </a>
    </div>
    <div class="portfolio-project">
      <a href="#" class="portfolio-link">
        <figure>
          <img src="img/portfolio/patchcord-preview.png" alt="">
          <figcap>
            <span class="project-title">PatchCord</span> 
            <span class="project-description">Rails web app</span>
          </figcap>
        </figure>
      </a>
    </div>
    <div class="portfolio-project">
      <a href="#" class="portfolio-link">
        <figure>
          <img src="img/portfolio/soloflow-preview.png" class="" alt="">
          <figcap>
            <span class="project-title">Matt Soloflow</span> 
            <span class="project-description">A Rails web app</span>
          </figcap>
        </figure>
      </a>
    </div>
  </div>
</section>