<!DOCTYPE html>
<html lang="en">
<head>
    {{ partialCached "meta.html" . }}
    {{ partial "head.html" . }}
</head>
<body id="page-top" class="index">
    <main class="content">
        <!-- Navigation -->
        {{ partial "navbar.html" . }}
        <!-- About -->
        {{ partial "about.html" . }}
        <!-- Portfolio -->
        {{ partial "portfolio.html" . }}
        <!-- Contact -->
        {{ partial "contact.html" . }}
        <!-- Footer -->
        {{ partialCached "footer.html" . }}
    </main>
</body>
</html>
