<!DOCTYPE html>
<html lang="en">
<head>
    {{ partialCached "meta.html" . }}
    {{ partial "head.html" . }}
</head>
<body id="page-top" class="index">
    <main class="content">
        <!-- Navigation -->
        {{ partial "navbar.html" . }}
        <!-- Intro -->
        {{ partial "intro.html" . }}
        <!-- Code -->
        <section id="code">
            <!-- Portfolio Grid Section -->
            {{ partial "portfolio.html" . }}
        </section>

        <!-- Contact Section -->
        {{ partial "contact.html" . }}

        <!-- Footer -->
        {{ partialCached "footer.html" . }}
    </main>
</body>
</html>
